@import "tailwindcss";
@import '@fontsource/poppins/100.css';
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';

@theme {
  --font-sans: 'Poppins', sans-serif;
}

@layer base {
  body {
    @apply transition-colors duration-200;
  }

  .theme-dark {
    @apply bg-gray-900 text-neutral-100;
  }

  .theme-light {
    @apply bg-white text-neutral-900;
  }
}

@layer utilities {
  .backdrop-blur-md {
    backdrop-filter: blur(12px);
  }
  .backdrop-blur-lg {
    backdrop-filter: blur(16px);
  }
}